.financial-color {
    color: #b8babc;
    background-color: #001233;
}

.special-button-color {
    color: #f0f0f0;
    background-color: #1c2331;
}

.italic-button {
    font-style: italic;
}

.coefficient-style {
    font-size: 0.8em; /* smaller font size to make it appear like a coefficient */
    font-style: italic; /* italic style for visual distinction */
    vertical-align: top;  /* Align it appropriately relative to the text */
}