.financial-color {
    color: #b8babc;
    background-color: #001233;
}

.special-button-color {
    color: #f0f0f0;
    background-color: #1c2331;
}

.italic-button {
    font-style: italic;
}

.text-gray {
    color:rgb(102, 104, 105);
}