{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Listofemployees' %}"
        >List of employee</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"
        >Add an new employee</a
      >
    </li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <p></p>
    </div>
    <form>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="InputFirstName" class="form-label">First name</label>
            <input
              type="text"
              class="form-control"
              id="InputFirstName"
              aria-describedby="firstnameHelp"
              name="first_name"
            />
            <div id="firstnameHelp" class="form-text">
              Enter the first name.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="InputLastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="InputLastName"
              aria-describedby="lastnameHelp"
              name="last_name"
            />
            <div id="lastnameHelp" class="form-text">Enter the last name.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="InputEmail"
              aria-describedby="emailHelp"
              name="email_adress"
            />
            <div id="emailHelp" class="form-text">
              Enter a valid email address.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="InputPhoneNumber" class="form-label"
              >Phone number</label
            >
            <input
              type="phone number"
              class="form-control"
              id="InputPhoneNumber"
              aria-describedby="Phonenumberhelp"
              name="phone_number"
            />
            <div id="Phonenumberhelp" class="form-text">
              Exemple of a valid phone number format : +41799998813.
            </div>
          </div>
        </div>
      </div>
      <div>
        <p></p>
        <button type="submit" class="btn btn-primary">Add Employee</button>
      </div>
    </form>
  </div>
</div>
{%endblock%}
