{% extends "base.html" %} {% block content %}
<form method="POST" action="{% url 'modify_employee' pk=current_pk %}">
  {% csrf_token %}
  <div class="col">
    <div class="mb-3">{{current_pk}}</div>
  </div>
  <div class="col">
    <div class="mb-3">{{ form.as_p }}</div>
  </div>
  <div class="col">
    <div class="mb-3">
      <button type="submit" class="btn btn-outline-primary" id="button-addon2">
        Modify this employee
      </button>
    </div>
  </div>
</form>
{% endblock %}

<!--<form method="POST" action="{% url 'modify_employee' pk=employee.pk %}">
  {% csrf_token %}-->
<!--</form>-->
