{% extends "base.html" %} {% block content %} 
<div class="container-fluid"> <!---->
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar" style="width: 100%">100%</div>
    </div>
    <hr />
    {% if existing_data %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var existingDataAlert = document.getElementById("existingDataAlert");
        existingDataAlert.classList.add("show");
    });
    </script>
    <div
    id="existingDataAlert"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    >
    <div>
        Data already exists for the selected month and year! return to 
        <a href="{% url 'generator_month' year=year %}" class="alert-link"
        >month selection</a
        >

    </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <!--<span aria-hidden="true">&times;</span>-->
        </button>
    </div>
    {% endif %}
    {% if delete_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ delete_message }}
        <div>return to 
        <a href="{% url 'generator_month' year=year %}" class="alert-link">month selection</a></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="container-fluid text-center">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span><h1>{{ month }}.{{ year }}</h1></span> <!-- class="mx-auto mb-0"-->
            <span><a href="{% url 'generator_save_monthly_table' year=year month=month%}"
                class="btn btn-outline-warning">Save Monthly Data</a>
            <form method="post" action="{% url 'generator_delete_monthly_data' year=year month=month %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Delete Monthly Data</button>
            </form>
            </span>
        </div>
    </div>
  <!--<div class="container-fluid">-->
    <div class="table-responsive container mt-5"> <!---->
      <table
        class="table table-striped align-middle text-center"
      >
        <thead>
          <tr>
            <th>Employee</th>
            <th>SSN</th>
            <th>Start</th>
            <th>End</th>
            <th>Worked days</th>
            <th>Base</th>
            <th>Salary for this month</th>
            <th>Chidren alloc. below 18</th>
            <th>Chidren alloc. below 25</th>
            <th>Non financial wage</th>
            <th>Bonus</th>
            <th>Base deduction</th>
            <th>Base taxes</th>
            <th>AVS/AI</th>
            <th>AC</th>
            <th>AC2</th>
            <th>LAANP</th>
            <th>AMAT</th>
            <th>APGMAL</th>
            <th>LPP</th>
            <th>TOTAL</th>
            <th>Phone</th>
            <th>Representation</th>
            <th>Expenses</th>
            <th>Correction non financial wage</th>
            <th>PAID</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.social_security_number }}</td>
            <td>{{ employee.start_date }}</td>
            <td>{{ employee.end_date }}</td>
            <td>{{ employee.worked_days }}</td>
            <td>{{ employee.base_monthly_salary }}</td>
            <td>{{ employee.calculated_monthly_salary }}</td>
            <td>{{ employee.calculated_child_allocation_1 }}</td>
            <td>{{ employee.calculated_child_allocation_2 }}</td>
            <td>{{ employee.public_transportation_fees }}</td>
            <td>{{ employee.extraordinary_salary }}</td>
            <td>{{ employee.salary_for_social_deduction }}</td>
            <td>{{ employee.salary_for_taxes }}</td>
            <td>{{ employee.calculated_avs_employee }}</td>
            <td>{{ employee.calculated_ac_employee }}</td>
            <td>{{ employee.calculated_ac2_employee }}</td>
            <td>{{ employee.calculated_laanp_employee }}</td>
            <td>{{ employee.calculated_amat_employee }}</td>
            <td>{{ employee.calculated_apgmal_employee }}</td>
            <td>{{ employee.LPP_deduction_employee }}</td>
            <td>{{ employee.calculated_total_deduction_employee }}</td>
            <td>{{ employee.employees_phone_allocation }}</td>
            <td>{{ employee.employees_representation_allocation }}</td>
            <td>{{ employee.expense_report }}</td>
            <td>{{ employee.calculated_correction_non_financial_wage }}</td>
            <td>{{ employee.calculated_paid_salary }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  <!--</div>-->
</div>

{% endblock %}
