{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'generator_year' %}">Year</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
                href="{% url 'generator_month' year=year %}">Months</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Active employees</a>
        </li>
    </ul>
    <div class="container-fluid ">
        <div class="container text-center">
            <div class="row">
                <p><!--months|slice:month_num|last   {{ "01."|date:"m.Y" }} {{ month|date:"F" }} {{ year }}   {{ month }} - {{ year }}-->
                    <h2>List of active employees for the periode: {{ month }} - {{ year }}</h2>
                </p>
            </div>
            <!--<ul>-->
            {% for employee in employees %}
            <!--<li>-->
                <p><span>{{ employee.first_name }} {{ employee.last_name }}</span>
                <span>- {{employee.social_security_number }}</span></p>
            <!--</li>-->
            {% endfor %}
            <!--</ul>-->
        </div>
        <div class="container text-center">
            <div class="mb-3">
            <a class="btn btn-outline-primary" href="{% url 'generator_monthly_table' year=year month=month %}" role="button">
                Calculate salaries
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
