{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Year</a>
    </li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <p></p>
    </div>
    <div class="container text-center">
      <h2>Select current Year:</h2>
      {% for year , status, is_previous_year_completed, is_current_year_completed in year_statuses %}
      <!--link to next page-->
      <div class="row align-items-start">
        <div class="col list-group"></div>
        {% if status == "Completed" %}
        <div class="col list-group">
          <!-- Display a green badge for completed years -->

          <a
            href="{% url 'generator_month' year=year %}"
            class="list-group-item"
            >{{ year }}
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
              style="display: inline"
              disabled
              >Completed</span
            ></a
          >
        </div>
        {% elif status == "Current" %}
        <div class="col list-group">
          <!-- Display a yellow badge for completed years -->

          <a
            href="{% url 'generator_month' year=year %}"
            class="list-group-item"
            >{{ year }}
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
              style="display: inline"
              disabled
              >Current</span
            ></a
          >
        </div>
        {% elif status == "not_available" %}
        <div class="col list-group">
          <!-- Display a gray badge for not available years -->

          <a href="" class="list-group-item" disabled>
            {{ year }}
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"
              style="display: inline"
              disabled
              >Not available
            </span>
          </a>
        </div>
        {% endif %}
        <div class="col list-group"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
