{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'generator_year' %}">Year</a>
        </li>
        <li class="nav-item">
                <a class="nav-link active" href="#">Months</a>
            </li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <p></p>
        </div>
        <div class="container text-center">
            <!--{% for message in messages %}
            <div
            class="alert alert-{{ message.tags }} alert-dismissible fade show"
            role="alert"
            >
            {{ message }}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
            </div>
            {% endfor %}-->
            <h2>Months for {{ year }}:</h2>
            {% for month_num, data_dict in generator_check_combined.items %}
            <div class="row align-items-start">
            <div class="col list-group"></div>
            <div class="col list-group">
                <a href="#" class="list-group-item d-flex justify-content-between">
                {% if data_dict.is_paid %}
                <span
                    class="position-absolute top-0 start-0 translate-middle p-2 bg-success border border-dark rounded-circle"
                ></span>
                {% elif data_dict.has_data %}
                <span
                    class="position-absolute top-0 start-0 translate-middle p-2 bg-primary border border-dark rounded-circle"
                ></span>
                {% else %}
                <span
                    class="position-absolute top-0 start-0 translate-middle p-2 bg-light border border-dark rounded-circle"
                ></span>
                {% endif %} {{ months|slice:month_num|last }} 
                {%if data_dict.has_data_truebefore_falseafter and data_dict.is_paid_truebefore_falseafter%}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <span>
                    <form
                        method="get"
                        action="{% url 'generator_employees' year=year month=forloop.counter %}"
                        style="display: inline"
                    >
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary btn-sm">
                        Save
                        </button>
                    </form>
                    </span>
                    <span>
                    <form
                        method="post"
                        action="{% url 'generator_delete_monthly_data' year=year month=forloop.counter %}"
                        style="display: inline"
                    >
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                        Delete
                        </button>
                    </form>
                    </span>
                    <span>
                    <form
                        method="post"
                        action="{% url 'generator_pay' year=year month=forloop.counter %}"
                        style="display: inline"
                        onsubmit="return confirm('Are you sure you want to make the payment? this would be irreversible!')"
                    >
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success btn-sm">
                        Pay
                        </button>
                    </form></span
                    ><span>
                        <span>
                            <form method="get" action="{% url 'generator_see' year=year month=forloop.counter %}" style="display: inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark btn-sm">
                                    See
                                </button>
                            </form>
                        </span>
                    </span>
                </div>
                {% elif data_dict.has_data and data_dict.is_paid_truebefore_falseafter%}
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <span>
                                    <form method="post" action="{% url 'generator_delete_monthly_data' year=year month=forloop.counter %}"
                                        style="display: inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                </span>
                                <span>
                                    <form method="post" action="{% url 'generator_pay' year=year month=forloop.counter %}" style="display: inline"
                                        onsubmit="return confirm('Are you sure you want to make the payment? this would be irreversible!')">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-success btn-sm">
                                            Pay
                                        </button>
                                    </form>
                                </span><span>
                                    <form method="get" action="{% url 'generator_see' year=year month=forloop.counter %}" style="display: inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-dark btn-sm">
                                            See
                                        </button>
                                    </form>
                                </span>
                            </div>
                    {% elif data_dict.has_data and data_dict.is_paid %}
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <span>
                                        <form method="get" action="{% url 'generator_see' year=year month=forloop.counter %}" style="display: inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-dark btn-sm">
                                                See
                                            </button>
                                        </form>
                                    </span>
                                </div>
                    {% else %}
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <span>
                                            <button type="submit" class="btn btn-light btn-sm italic-button" disabled>
                                                this period is not available
                                            </button>

                                    </span>
                                </div>
                {% endif %}
                </a>
            </div>
            <div class="col list-group"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
