{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="container">
    <div
      class="btn-toolbar"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <div class="btn-group me-2 btn-group-sm" role="group" aria-label="Title">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-light btn-sm" disabled>
            <h2>Overview</h2>
          </button>
        </div>
      </div>
      <div
        class="btn-group me-2 btn-group-sm"
        role="group"
        aria-label="First group"
      >
        <div class="btn-group btn-group-sm" role="group">
          <button
            type="button"
            class="btn btn-light dropdown-toggle btn-sm"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Years
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% for year in validity_years %}
            <li><a class="dropdown-item" href="#">{{ year }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div
        class="btn-group me-2 btn-group-sm"
        role="group"
        aria-label="Second group"
      >
        <div class="btn-group btn-group-sm" role="group">
          <button
            type="button"
            class="btn btn-light dropdown-toggle btn-sm"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Months
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% for month in validity_months %}
            <li><a class="dropdown-item" href="#">{{ month }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div
        class="btn-group me-2 btn-group-sm"
        role="group"
        aria-label="Third group"
      >
        <div class="btn-group btn-group-sm" role="group">
          <button
            type="button"
            class="btn btn-light dropdown-toggle btn-sm"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Employees
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% for employee in validity_employees %}
            <li><a class="dropdown-item" href="#">{{ employee }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
{% endblock %}
