{% extends "base.html" %} {% block content %}
  {% if user.is_authenticated %}
    <!-- Main container for the page content -->
    <div class="container-fluid text-center">
      <div class="row">
        <p></p> <!-- Empty paragraph for spacing -->
      </div>
      <!-- Export and return buttons -->
      <div class="d-flex justify-content-evenly align-items-center mb-3">
        <span>
          <!-- Button to export data to Excel -->
          <button type="button" class="btn btn-outline-primary" id="export-excel">
            Export to Excel
          </button>
        </span>
        <!-- Link to return to the overview page -->
        <span>
          <a href="{% url 'overview' %}" class="btn btn-outline-primary">
            Return to Overview
          </a>
        </span>
      </div>
    </div>
    <!-- Responsive table to display category and value pairs -->
    <div class="table-responsive container mt-5 overflow-scroll">
      <table id="data-table" class="table table-striped align-middle text-center">
        <thead>
          <tr>
            <th>Category</th>
            <th>Values</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through fields and display each category and its corresponding value -->
          {% for field in fields %}
          <tr>
            <td>{{ field.category }}</td>
            <td>{{ field.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <!-- If the user is not authenticated, prompt them to log in -->
    <p>You need to <a href="{% url 'account_login' %}">log in</a>!</p>
  {% endif %}
{% endblock %}
