<div class="container-fluid">
  <div class="container-small">
    <canvas id="myChartx" style="width: 25vw; height: 25vh"></canvas>
    <p>{{ unique_years }}</p>
    <p>{{ unique_months }}</p>
    <p>{{ current_year }}</p>
    <p>{{ aggregated_data_current_year }}</p>
    <p>{{ previous_year }}</p>
    <p>{{ aggregated_data_previous_year }}</p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById("myChartx");

  // Extract data from Django context
  const uniqueMonths = {{ unique_months|safe }};
  const currentYearData = Object.values({{ aggregated_data_current_year|safe }});
  const previousYearData = Object.values({{ aggregated_data_previous_year|safe }});

  new Chart(ctx, {
    type: "bar",
    data: {
        labels: uniqueMonths,
        datasets: [
              {
                  label: "{{ current_year }}",
                  data: currentYearData,
                  backgroundColor: 'rgba(255, 99, 132, 0.5)', // Customize the color
                  borderColor: 'rgba(255, 99, 132, 1)', // Customize the border color
                  borderWidth: 1,
              },
              {
                  label: "{{ previous_year }}",
                  data: previousYearData,
                  backgroundColor: 'rgba(54, 162, 235, 0.5)', // Customize the color
                  borderColor: 'rgba(54, 162, 235, 1)', // Customize the border color
                  borderWidth: 1,
              },
          ],
      },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
