{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="text-center">
    <h2>Overview</h2>
  </div>
  <div><p></p></div>
  <div class="container-small mb-3">
    <div class="text-center">
      <form method="post" action="{% url 'overview_export' %}" >
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div class="row">
          <div class="col">
            <div class="input-group mb-3 flex-nowrap">
              <label class="input-group-text" for="inputGroupSelectYear"
                >Year</label
              >
              <select class="form-select" id="inputGroupSelectYear" name="year">
                <option selected></option>
                {% for year in validity_years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3 flex-nowrap">
              <label class="input-group-text" for="inputGroupSelectMonth"
                >Month</label
              >
              <select
                class="form-select"
                id="inputGroupSelectMonth"
                name="month"
              >
                <option selected></option>
                {% for month in validity_months %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3 flex-nowrap">
              <label class="input-group-text" for="inputGroupSelectEmployee"
                >Employee</label
              >
              <select
                class="form-select"
                id="inputGroupSelectEmployee"
                name="employee"
              >
                <option selected></option>
                {% for employee in validity_employees %}
                <option value="{{ employee }}">{{ employee }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col">
            <button
              type="submit"
              class="btn btn-outline-primary"
            >
              Select
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container-fluid">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col col-lg-2"></div>
            <div class="col align-self-center">
                <canvas id="myChartx"></canvas>
            </div>
            <div class="col col-lg-2"></div>
        </div>
    </div>
</div>
<script>
  const ctx = document.getElementById("myChartx");

  // Extract data from Django context
  const uniqueMonths = {{ unique_months|safe }};
  const currentYearData = Object.values({{ aggregated_data_current_year|safe }});
  const previousYearData = Object.values({{ aggregated_data_previous_year|safe }});

  new Chart(ctx, {
    type: "bar",
    data: {
        labels: uniqueMonths,
        datasets: [
              {
                  label: "{{ current_year }}",
                  data: currentYearData,
                  backgroundColor: 'rgba(255, 99, 132, 0.5)', // Customize the color
                  borderColor: 'rgba(255, 99, 132, 1)', // Customize the border color
                  borderWidth: 1,
              },
              {
                  label: "{{ previous_year }}",
                  data: previousYearData,
                  backgroundColor: 'rgba(54, 162, 235, 0.5)', // Customize the color
                  borderColor: 'rgba(54, 162, 235, 1)', // Customize the border color
                  borderWidth: 1,
              },
          ],
      },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
{% endblock %}
