{% extends "base.html" %} {% block content %}
<!-- Main container for the page content -->
<div class="container-fluid">
  <!-- Navigation tabs for year management -->
  <ul class="nav nav-tabs">
    <!-- Link to list of years page -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Yearview' %}"
        >List of years</a
      >
    </li>
    <!-- Current active tab for adding a new year -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"
        >New year</a
      >
    </li>
  </ul>
  <!-- Form to add a new year and relevant details -->
  <div class="container-fluid">
    <div class="row">
      <p></p><!-- Empty paragraph for spacing -->
    </div>
    <form method="POST" action="{% url 'Addayear' %}">
      {% csrf_token %}<!-- CSRF token for form security -->
    <!-- Row 1: Input for year and submit button -->
    <div class="row">
        <div class="col">
          <!-- Input field for entering the year -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Year</span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter a year"
              name="validity_year"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col">
            <!-- Button to submit the new year -->
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary" id="button-addon2">Add this year</button>
            </div>
        </div>
        <div class="col">
            <!-- Empty column for spacing -->
            <div class="mb-3">
            </div>
        </div>
      </div>
    <!-- Row 2: Input fiels for AVS/AI, AC, and AC2 rates -->
      <div class="row">
        <div class="col">
          <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text" id="basic-addon1">AVS/AI</span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter the AVS/AI rate"
              aria-describedby="basic-addon1"
              name="avs_item"
            />
            <span class="input-group-text">%</span>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text" id="basic-addon1">AC</span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter the AC rate"
              aria-describedby="basic-addon1"
              name="ac_item"
            />
            <span class="input-group-text">%</span>
          </div>
        </div>
        <div class="col">
            <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text" id="basic-addon1">AC2</span>
                <input type="text" class="form-control" placeholder="Enter the AC2 rate" aria-describedby="basic-addon1"
                    name="ac2_item" />
                <span class="input-group-text">%</span>
            </div>
        </div>
      </div>
    <!-- Row 3: Input fields for LAA professional, LAA non professional, and LAA complementary rates -->
      <div class="row">
        <div class="col">
            <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text" id="basic-addon1">LAA professional</span>
                <input type="text" class="form-control" placeholder="Enter the LAAP rate" aria-describedby="basic-addon1"
                    name="laap_item" />
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text" id="basic-addon1">LAA non professional</span>
                <input type="text" class="form-control" placeholder="Enter the LAANP rate" aria-describedby="basic-addon1"
                    name="laanp_item" />
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="col">
        <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text" id="basic-addon1">LAA complementary</span>
            <input type="text" class="form-control" placeholder="Enter the LAAC rate" aria-describedby="basic-addon1"
                name="laac_item" />
            <span class="input-group-text">%</span>
        </div>
        </div>
      </div>
    <!-- Row 4: Input fields for LAA complementary exceeding, AMAT, and ALFA rates -->
      <div class="row">
        <div class="col">
          <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text" id="basic-addon1">LAA complementary exceding</span>
                <input type="text" class="form-control" placeholder="Enter the LAACE rate" aria-describedby="basic-addon1"
                    name="laace_item"/>
                <span class="input-group-text">%</span>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text" id="basic-addon1">AMAT</span>
                <input type="text" class="form-control" placeholder="Enter the AMAT rate" aria-describedby="basic-addon1" name="amat_item"/>
                <span class="input-group-text">%</span>
           </div>
        </div>
        <div class="col">
        <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text" id="basic-addon1">ALFA</span>
            <input type="text" class="form-control" placeholder="Enter the ALFA rate" aria-describedby="basic-addon1"
                name="alfa_item" />
            <span class="input-group-text">%</span>
        </div>
        </div>
      </div>
    <!-- Row 5: Input fields for APG Sickness, Children care, and Expense report rates -->
      <div class="row">
        <div class="col">
          <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text" id="basic-addon1">APG Sickness</span>
            <input type="text" class="form-control" placeholder="Enter the APG Sickness rate" aria-describedby="basic-addon1"
                name="apgmal_item"/>
            <span class="input-group-text">%</span>
          </div>
        </div>
        <div class="col">
            <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text" id="basic-addon1">Children care</span>
                <input type="text" class="form-control" placeholder="Enter the Children care rate" aria-describedby="basic-addon1"
                    name="alpetiteenfance_item" />
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="col">
        <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text" id="basic-addon1">Expense report</span>
            <input type="text" class="form-control" placeholder="Enter the Expense report rate" aria-describedby="basic-addon1"
                name="expense_report" />
            <span class="input-group-text">%</span>
        </div>
        </div>
      </div>
    <!-- Row 6: Input field for Public transportation fees -->
      <div class="row">
        <div class="col">
          <div class="input-group mb-3 flex-nowrap">
            <label class="input-group-text" for="basic-addon1">Public transportation fees</label>
            <input type="text" class="form-control" placeholder="Enter the Public transportation fees rate" aria-describedby="basic-addon1" name="public_transportation_fees">
            <span class="input-group-text">%</span>
          </div>
        </div>
        <div class="col"><!-- Empty column for futur field -->
        </div>
        <div class="col"><!-- Empty column for futur field -->
        </div>
      </div>
    <!-- Row 7: Empty rows for futur fields -->
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
    <!-- Row 8: Empty rows for futur fields -->
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
    <!-- Row 9: Empty rows for futur fields -->
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
      </div>
    </form>
  </div>
</div>
{%endblock%}
